body {
  margin: 0;
  padding-bottom: 50px;
  background-color: #ffe9c7;
  font-size: 14px;
  line-height: 1.2em;
  color: #000;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif; }
  body h1 {
    line-height: 1.1em; }
  body > div.container {
    background-color: #fff;
    width: 1000px;
    margin: 0 auto 20px; }

a:link, a:visited {
  color: #ff5b5b;
  text-decoration: none; }
a:hover {
  text-decoration: underline; }

section, header, footer, nav {
  display: block; }

nav {
  padding: 20px 30px 10px;
  border-bottom: 1px solid #545a55;
  position: relative; }
  nav > a {
    margin-top: 17px;
    display: block;
    padding: 0; }
    nav > a.logo {
      text-indent: -9000px;
      height: 55px;
      width: 317px;
      background: url("/images/logo_homepage_29112012.png") no-repeat center top;
      background-size: 317px 55px; }
  nav > ul {
    float: right;
    list-style-type: none;
    margin: 35px -30px 0 0;
    padding: 0; }
    nav > ul li {
      float: left;
      margin-right: 30px;
      font-size: 14px;
      text-align: center;
      line-height: 1.1em; }
      nav > ul li strong {
        font-size: 16px; }

footer {
  border-top: 1px solid #545a55;
  padding: 10px 30px;
  clear: both; }
  footer p {
    text-align: right;
    color: #545a55; }

body div.main-content header {
  padding: 40px 0 60px;
  background: none; }
  body div.main-content header h1 {
    color: #2d2d2f;
    font-size: 46px;
    letter-spacing: -1px;
    line-height: 50px;
    text-align: center;
    margin: 0; }
  body div.main-content header h2 {
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 50px;
    color: #545a55;
    text-align: center;
    margin: 0; }

body div.main-content div.recommend {
  padding-top: 10px;
  padding-bottom: 50px;
  width: 500px;
  margin-left: auto ;
  margin-right: auto ;
  margin-bottom: 100px;
  margin-top: 10px;
  border: 2px solid;
  border-color: #2d2d2f;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #545a55;
  overflow: hidden;
  position: relative;
  text-align: center; }
  body div.main-content .recommend h3 {
    font-size: 36px;
    color: #2d2d2f;
  }
  body div.main-content .recommend h4 {
    font-size: 18px;
    color: #545a55;
  }



